* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width: 100%;
}

/* Portrait layout (default) */

.connexion {
    position: absolute;
    left: 47%;
    top: 3%;
    height: 50px;
    width: 250px;
    text-align: center;
    padding: 180px 0px 0px 0px;
    margin: -100px 0px 0px -112px;
}

/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .connexion {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

.connexion h1 {
    margin-bottom: 50px;
}

.connexion label {
    font-size: 18px;
}

.connexion input {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid;
}

.connexion button {
    width: 150px;
    height: 50px;
}

.connexion .number_input {
    width: 85px;
}


/* Portrait layout (default) */

.app {
    position: absolute;
    left: 36%;
    top: 1%;
    height: 50px;
    width: 350px;
    text-align: center;
    padding: 150px 0px 0px 0px;
    margin: -100px 0px 0px -112px;
}


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

.app h1 {
    font-size: 20px;
    font-weight: normal;
    overflow: visible;
    padding: 0px;
    text-align: center;
    margin-bottom: 80px;
}

.app p {
    text-align: left;
}
.app label {
    font-size: 18px;
}

.app input, select {
    width: 250px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid;
}

.app button {
    width: 150px;
    height: 50px;
}

.app .number_input {
    width: 85px;
}